@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden;
	background-color: #222323;
}

#canvasContainer,
#buttonContainer,
#startGameContainer {
	display: inline-block;
	position: relative;
}
#labiryntImageContext {
	z-index: 1;
}
#enemyImageContext {
	position: absolute;
	z-index: 2;
}
#labiryntObjectImageContext {
	position: absolute;
	z-index: 3;
}
#playerImageContext {
	position: absolute;
	z-index: 4;
}
#mapContext {
	position: absolute;
	border: solid #222323 5px;
	display: none;
	top: 0;
	z-index: 8;
}
#playerUiContext {
	z-index: 9;
}
#backgroundPlayerUi {
	position: relative;
	z-index: 10;
}

.startGameTextStyle {
	position: absolute;
	top: 0;
	font-family: 'Press Start 2P', cursive; /* Specify the desired font */
	color: #c6b7be; /* Text color */
	white-space: pre-wrap; /* Allows text to wrap to the next line */
	word-break: break-all; /* Allows words to be broken if necessary to prevent overflow */
	overflow-wrap: break-word; /* Ensures that long words will wrap and not overflow */
	width: 294px; /* Makes the div take up 100% of the width of its parent */
	overflow: hidden; /* Hides any overflow */
	z-index: 12;
}

#buttonsContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 0px;
	position: absolute;
	top: 0;
	left: 0;
}

#startGameContainer {
	z-index: 11;
}

.game-button {
	width: 97px;
	height: 97px;
	background-color: #232222;
	background-size: cover;
	border: none;
	outline: none;
	margin-bottom: 4px;
}

@keyframes shake {
	0% {
		transform: scale(1);
	}
	20% {
		transform: scale(1.05);
	}
	40% {
		transform: scale(1);
	}
	60% {
		transform: scale(1.05);
	}
	80% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}

#imageContext.shake {
	animation: shake 0.4s;
}

@keyframes damageEffect {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@keyframes deathEffect {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.enemy-damage {
	animation: damageEffect 0.5s forwards;
}

.enemy-death {
	animation: deathEffect 1s forwards;
}

/* @media only screen and (max-width: 500px) {
	body {
		font-size: 2em;
	}

	#canvasContainer,
	#buttonContainer {
		width: 100vw; 
		height: auto;
	}

	.game-button {
		width: 33.3vw;
		height: auto;
	}
} */
